@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
/* font-family: "Poppins", sans-serif;*/

:root{
    --Branco: #F2F2F2;
    --Bege: #F2D2B6;
    --Marrom-Escuro: #402515;
    --Marrom-Claro:#8c3d35;
    --Preto: #272727;
    --Font: "Poppins", sans-serif;
    /* Deixar a rolagem automatica suave*/
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--Font);
    background-color: var(--Bege);
    transition: .3s;
}

/* Inicio Header*/

header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: var(--Branco);
    overflow: hidden;
}

.logoHeader{
    width: 90px;
    cursor: pointer;
}

#showHideMenu{
    display: none;
}

.navHeader{
    display: flex;
    gap: 18px;
    padding-right: 25px;
    transition: .3s;
}

#toggleTheme{
    padding-left: 15px;
}

.navItem,#toggleTheme{
    color: var(--Marrom-Claro);
    font-size: 26px;
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
    cursor: pointer;
}

.navItem:hover,#toggleTheme:hover{
    color: var(--Marrom-Escuro);
    transform: scale(1.08);
}

/* Fim Header*/

main{
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    min-height: 100vh;
    background-color: var(--Branco);
    flex-direction: column;

}

@media (max-width:768px){
    #showHideMenu{
        display: flex;
        font-size: 35px;
        color: var(--Marrom-Claro);
        padding-right: 15px;
    }

    .navHeader{
        width: 70%;
        height: 70%;
        background-color: var(--Bege);
        position: absolute;
        top: 100px;
        right: 100%;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
        flex-direction: column;
    }
}


/* Inicio Footer */

footer{
    display: flex;
    padding: 0 30px;
    background-color: var(--Branco);
    width: 100%;
    height: 90px;
    align-items: center;
    justify-content: space-between;
}

.navFooter{
    display: flex;
    gap: 20px;
    padding-right: 15px;
}

footer i{
    color: var(--Marrom-Claro);
    font-size: 35px;
    transition: .3s;
    cursor: pointer;
}

footer i:hover{
    transform: scale(1.05);
    color: var(--Marrom-Escuro);
}

@media (max-width:500px){
    footer i{
        font-size: 30px;
    }
}


@media (max-width: 400px){
    h1{
        text-align: center;
        font-size: 25px;
    }
    
}

/* Fim Footer*/